[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = ">=2020.6.20"
requests = ">=2.24.0"
"discord.py" = "==1.4.1"

[dev-packages]

[requires]
python_version = "3.8"
